<div class="grey-wrapper">
  <div class="container">
    <div class="white-card">
      <h1><%= @job.name %></h1>
      <p>Price: <%= @job.price %></p>
      <p>Deadline: <%= @job.deadline %></p>
      <p>Contract <%= @job.contract_type %></p>
      <% if @job.buyer == current_user%>
        <%= link_to "Edit", edit_job_path(@job), class:"btn btn-secondary" %>
        <%= link_to "Delete", job_path(@job), method: :delete, class:"btn btn-secondary", data: {confirm: 'Are you sure?'} %>
      <% end %>

      <% if user_signed_in? && @job.buyer != current_user && current_user.developer && !@job.developer %>
        <%= link_to "Bid on the project", job_bids_new_path(@job), class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <% if @job.developer %>
    <div class="container">
      <div class="white-card">
        <h2>Your Developer:</h2>
        <h3><%= @job.developer.first_name %> <%= @job.developer.last_name %></h3>
        <p><%= @job.developer.tagline %></p>
        <p><%= @job.developer.bio %></p>
      </div>
    </div>
  <% else %>
    <div class="container">
      <div class="white-card">
      <h2>Current Bids</h2>

        <% if @job.bids.any? %>
          <% @job.bids.each do |bid| %>
            <div class="bid-borders">
              <h3><%= bid.developer.first_name %> <%= bid.developer.last_name %></h3>
              <p><%= bid.developer.email %></p>
              <% if @job.buyer == current_user%>
                <%= simple_form_for(bid, url: assign_job_path(@job)) do |f| %>
                <%= f.input :developer_id, as: :hidden, value: bid.developer_id %>
                <%= f.input :id, as: :hidden, value: bid.id %>
                <%= f.submit "Accept Bid", class:'btn btn-primary' %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p>No bids yet. Check back later!</p>
          <% if @job.buyer == current_user%>
            <%= link_to "Why not invite a developer to work on your project?", users_path %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
